<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/NewExamples/src/TypicalPrograms/AddingWithOutPlusOperator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="TypicalPrograms.AddingWithOutPlusOperator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="NewExamples"/>
</launchConfiguration>
